runs/ 
wandb/ 
__pycache__/  
optuna_temp/ 
sensitivity_results/
sensitivity_results_multiseed/
optuna_temp/
trial_initial_???/
tiial_refinement_???/
trial???/
optuna_results/trial_*/*
*.pt
*.json
*.pkl
*.db
temp*.*
uv.lock

