runs/ 
wandb/ 
__pycache__/  
optuna_temp/ 
sensitivity_results/
sensitivity_results_multiseed/
optuna_temp/
trial_initial_???/
tiial_refinement_???/
trial???/
experiments/
optuna_results/trial_*/*
*.pt
*.json
*.pkl
*.db
temp*.*
uv.lock
.DS_Store
*.npz
plots/
plots_new/
plots_old/
checkpoints/
logs/
legacy/
wandb/

